.filter-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 36px;
  margin-bottom: 16px;
}

.toggle-text {
  margin-top: -4px;
  margin-bottom: 4px;
}

.ant-switch-checked {
  background: #8a9cff !important;
}

.ant-select-selector {
  border-color: #8a9cff !important;
}

.search-wrapper {
  padding-top: 20px;
}

.ant-input {
  border-color: #8a9cff !important;
  color: #8a9cff !important;
}
